$primary-color: #3d138d;
$auxiliary-color: white;

$list-color: #ccc;

$tag-bg-color: #666;
$tag-color: white;

$sm-font-size: 12px;
$md-font-size: 16px;
$lg-font-size: 20px;
$xl-font-size: 24px;

$layout-bg-color: $primary-color;
$layout-color: $auxiliary-color;

$header-height: 64px;
$header-font-size: $sm-font-size;
$header-color: $layout-color;

$main-bg-color: $auxiliary-color;
$main-color: black;

$footer-height: 64px;
$footer-font-size: $sm-font-size;
$footer-color: $layout-color;

$navbar-height: 64px;
$navbar-bg-color: $auxiliary-color;
