a:hover {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}
a {
    text-decoration: none;
    color: inherit;
}

body,
html {
    margin: 0 auto;
}

input,
button {
    margin: 0 auto;
    display: block;
    border: 0;
    padding: 0;
    outline: 0;
    width: inherit;
    height: inherit;
    background-color: transparent;
    font: inherit;
    color: inherit;
    line-height: inherit;
    text-align: inherit;
}
